@charset "utf-8";
@font-face {
    font-family: 'Noto Sans';
    src:url('buttogenli.woff') format('woff');
}
h1 {
	margin: 0;
	padding: 0;
}
body {
    background-color: #f4f4f4;
    font-family: 'Noto Sans';
}
Header {
    background-color: #2c3e50;
    color: #fff;
    width:  100%;
    text-align: center;
    padding: 30px 0;
}
h2{
    font-size: 28px;
    position: relative; 
padding: .5em .75em; 
text-align:center; 
border-top: solid 1px #2c3e50; 
border-bottom: solid 1px #2c3e50;
}
h2:before,h2:after{ 
content: ''; 
position: absolute; 
top: -.5em; 
width: 1px; 
height: calc(100% + 1em); 
background-color: #2c3e50;
}
h2:before{
left: .5em;
}
h2:after{
right: .5em;
}
h3{
    font-size: 20px;
position: relative;
padding: 0 2.5em;
text-align: center;
}

h3:before, h3:after{
content: '';
position: absolute;
top: 50%;
display: inline-block;
width: 20%;
height: 1px;
background-color: #2c3e50;
}
h3:before {left:0;}
h3:after {right: 0;}
.mcontent {
    padding: 40px 28px;
    border-radius: 2px;
}
img {
    width: 75%
}